.bannerFrontPage {
    position: relative;
    text-align: center;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $header-font-size;
        font-weight: $bold;
        font-family: $base-font-family;
        color: $white;
    }

    .button {
        @include bannerButton;
        left: 150px;
    }
    .button2 {
        @include bannerButton;
        left: 250px;
    }
    .button3 {
        @include bannerButton;
        left: 350px;
    }
    .button4 {
        @include bannerButton;
        left: 450px;
    }

    .bannerImage {
        width: 1200px;
        height: 600px;
    }
}

