.bannerFrontPage {
    position: relative;
    text-align: center;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $header-font-size;
        font-weight: $bold;
        font-family: $base-font-family;
        color: $white;
    }
    .bannerImage {
        width: 1200px;
        height: 600px;
    }
}