.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    &__item {
        justify-content: flex-end;
    }
    &__link {
        text-decoration: none;
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        margin: 0 20px;
    }
    &__search {
        border-style: none;
        outline: none;
    }
}