@mixin bannerButton {
    position: absolute;
    width: 75px;
    height: 8px;
    bottom: 50px;
    border: none;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}